/* import하는 파일의 순서도 중요하다! */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variables.css";
/* Components */
@import "components/status-bar.css";
@import "components/badge.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";
/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body {
  color: #2e363e;
  font-family: "Open Sans", sans-serif;
  margin-top: 100px;
  background-image: linear-gradient(#328afe, #74d5fd);
  height: calc(100vh - 200px);
}

.main-screen {
  padding: 30px var(--horizontal-space) 72px var(--horizontal-space);
}
.loginbody {
  height: calc(100vh - 100px);
}
