.badge {
  background-color: #e572a4;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.reddot {
  width: 6px;
  height: 6px;
  position: absolute;
  right: -6px;
  bottom: 28px;
}
